/* @import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Poppins"); */
body {
	font-family: "Poppins", sans-serif;
	color: white;
	text-align: center;
	background: darkslategray;
	height: 100%;
	width: 100%;
}
